@charset "UTF-8";
/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-light {
  font-weight: 100;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-thin {
  font-weight: 200;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-regular, body, .h2, h2, h3 {
  font-weight: 300;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-medium, .modal-content .modal-body .form-label {
  font-weight: 500;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-bold, .h4 {
  font-weight: 600;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-black, .h1, h1 {
  font-weight: 700;
}

/*Bootstrap*/
/* line 6, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
body {
  font-family: 'Moderat', sans-serif;
  color: #1B3C87;
  font-size: 1rem;
}

/* line 13, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.h1, h1 {
  font-size: 3rem;
}

@media all and (max-width: 576px) {
  /* line 13, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .h1, h1 {
    font-size: 2rem;
  }
}

/* line 23, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.h2, h2 {
  font-size: 1.5rem;
}

@media all and (max-width: 576px) {
  /* line 23, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .h2, h2 {
    font-size: 1.25rem;
  }
}

/* line 33, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media all and (max-width: 576px) {
  /* line 33, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .h3 {
    font-size: 1.25rem;
  }
}

/* line 42, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.h4 {
  font-size: 2rem;
}

@media all and (max-width: 576px) {
  /* line 42, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .h4 {
    font-size: 2rem;
  }
}

/* line 60, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
h3 {
  color: #1B3C87;
  font-size: 1rem;
  margin-bottom: 0;
}

/* line 68, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.rounded {
  border-radius: 1.25rem !important;
}

/* line 73, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.border {
  border: 2px solid #B2C3FB !important;
}

/* line 77, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.form-control {
  border: 2px solid #B2C3FB;
  color: #1B3C87;
  opacity: 1;
}

/* line 83, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.form-control:active {
  border: 2px solid #1B3C87;
  box-shadow: none;
  color: #8088DC;
}

/* line 89, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.form-control:focus {
  border: 2px solid #1B3C87;
  box-shadow: none;
  color: #8088DC;
}

/* line 95, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.form-control::placeholder {
  color: #B2C3FB;
  opacity: 1;
}

/* line 104, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
button:focus {
  box-shadow: none;
}

/* line 108, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
button:active {
  box-shadow: none;
}

/* line 115, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.form-check-input:checked {
  background-color: #1B3C87;
  border-color: #1B3C87;
  box-shadow: none;
  outline: 0;
}

/* line 122, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.form-check-input:focus {
  box-shadow: none;
  outline: 0;
}

/* line 128, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Nabvar */
/* line 136, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-toggler {
  color: #1B3C87 !important;
  border-color: black;
  border: 2px solid;
}

/* line 142, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-toggler:focus {
  box-shadow: none;
}

/* line 146, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-toggler:active {
  box-shadow: none;
}

/* line 153, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-toggler {
  color: #1B3C87 !important;
  border-color: black;
  border: 2px solid;
}

/* line 160, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}

/* line 164, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-toggler:active {
  box-shadow: none;
}

/* line 168, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("../assets/burger-menu.svg");
}

/* line 173, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-nav {
  font-weight: 500;
  cursor: pointer;
  color: #8088DC;
}

/* line 178, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-nav .nav-link {
  color: #8088DC;
}

/* line 182, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-nav .nav-link.active {
  color: #1B3C87;
}

/* line 186, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-nav .nav-link:hover {
  color: #1B3C87;
}

/* Offcanvas*/
/* line 196, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.offcanvas-top {
  height: 100vh;
}

/* line 202, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.offcanvas-body .navbar-nav {
  font-weight: 600;
  cursor: pointer;
  color: #8088DC;
}

/* line 207, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.offcanvas-body .navbar-nav .nav-link {
  color: #8088DC;
}

/* line 211, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.offcanvas-body .navbar-nav .nav-link.active {
  color: #1B3C87;
}

/* line 215, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.offcanvas-body .navbar-nav .nav-link:hover {
  color: #1B3C87;
}

/*Main*/
/* line 226, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-1 {
  border-color: #1B3C87;
  background-color: white;
  color: #1B3C87;
}

/* line 230, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-1:hover {
  color: white;
  background-color: #1B3C87;
  border: solid 2px #F4F7FF;
  box-sizing: border-box;
}

/* line 239, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-2 {
  border-color: #1B3C87;
  background-color: #1B3C87;
  color: white;
}

/* line 242, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-2:hover {
  color: #1B3C87;
  background-color: #D7E0FF;
  border: solid 2px #1B3C87;
  box-sizing: border-box;
}

/* line 251, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-close {
  background-image: url("../assets/close.svg");
  opacity: 1;
}

/* line 255, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-close:focus {
  box-shadow: none;
}

/* line 259, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-close:active {
  box-shadow: none;
}

/* line 267, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.scale:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}

/* line 273, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.changeColor:hover {
  color: white;
  background-color: #1B3C87;
  transition: all 300ms ease-in-out;
  border: 2px solid #1B3C87 !important;
}

/*Index*/
/* line 287, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-index .round-bgr {
  background-color: #1B3C87;
  color: white;
  border-radius: 2rem;
}

/* line 295, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-index .round-bgr .section1-index-img .img-movil {
  position: relative;
  z-index: 3;
  left: 5rem;
  top: 5rem;
}

@media all and (max-width: 576px) {
  /* line 295, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section1-index .round-bgr .section1-index-img .img-movil {
    height: 350px;
    left: 2rem;
    top: 5rem;
  }
}

/* line 312, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.modal-content {
  border-radius: 1.5rem;
}

/* line 316, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.modal-content .modal-header {
  border-bottom: none;
}

/* line 327, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.modal-content .modal-footer {
  border-top: none;
}

/* line 332, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-index {
  margin-top: 10rem;
}

/* line 338, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section4-index .row {
  --bs-gutter-x: -6.5rem;
}

/* line 342, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section4-index .nav-link {
  color: #1B3C87;
}

/* line 345, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section4-index .nav-link:hover {
  color: #8088DC;
}

@media all and (max-width: 422px) {
  /* line 351, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section4-index .section4-img {
    height: 32px;
  }
}

/* line 362, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section5-index .round-bgr {
  background-color: #F4F7FF;
  color: #1B3C87;
  border-radius: 2rem;
}

/* line 371, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section5-index .section5-index-img .img-report {
  position: relative;
  z-index: 3;
  left: 4rem;
  top: 0rem;
}

@media all and (max-width: 576px) {
  /* line 371, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section5-index .section5-index-img .img-report {
    height: 250px;
    left: 0rem;
    top: 2rem;
  }
}

/* line 386, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
footer {
  background-color: #D7E0FF;
  height: 4rem;
}

/*Diagnostico*/
/* line 400, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-diag .round-bgr {
  background-color: #B2C3FB;
  color: #1B3C87;
  border-radius: 2rem;
}

/* line 407, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-diag .round-bgr .section1-diag-img .img-medicine {
  position: relative;
  z-index: 3;
  left: 5rem;
  top: 5rem;
}

@media all and (max-width: 576px) {
  /* line 407, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section1-diag .round-bgr .section1-diag-img .img-medicine {
    height: 250px;
    left: 2rem;
    top: 5rem;
  }
}

/* line 426, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-diag {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

/* line 433, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section3-diag .row {
  --bs-gutter-x: -6.5rem;
}

/* line 440, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section4-diag .round-bgr {
  background-color: #F4F7FF;
  color: #1B3C87;
  border-radius: 2rem;
}

/* line 449, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section4-diag .section4-diag-img .img-pencil {
  position: relative;
  z-index: 3;
  left: 0rem;
  top: 0rem;
}

@media all and (max-width: 576px) {
  /* line 449, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section4-diag .section4-diag-img .img-pencil {
    height: 250px;
    left: 0rem;
    top: -4rem;
  }
}

/* Filosofia*/
/* line 468, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-filo .round-bgr {
  background-color: #F4F7FF;
  color: #1B3C87;
  border-radius: 2rem;
}

/* line 476, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-filo .section2-filo-img .img-coffee {
  position: relative;
  z-index: 3;
  left: 0rem;
  top: 0rem;
}

@media all and (max-width: 576px) {
  /* line 476, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section2-filo .section2-filo-img .img-coffee {
    height: 250px;
    left: 0rem;
    top: 0rem;
  }
}

/* line 493, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-filo-img .img-talking {
  position: relative;
  z-index: 3;
  left: 0rem;
  top: 5rem;
}

@media all and (max-width: 576px) {
  /* line 493, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section1-filo-img .img-talking {
    height: 250px;
    left: 0rem;
    top: 5rem;
  }
}

/* line 509, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.box {
  background-color: #1B3C87;
  height: 10rem;
  width: 10rem;
}

/* line 514, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.box .box-btn {
  background-color: white;
  width: 100%;
  border: 1px solid #1B3C87;
}

/* line 524, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section4-filo .row {
  --bs-gutter-x: -6.5rem;
}

/* line 533, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section5-filo {
  margin-top: 6rem;
}

/* line 535, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section5-filo .d-flex {
  align-items: flex-start;
}

/* line 541, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section5-filo .row {
  --bs-gutter-x: -6.5rem;
}

/*Consultoria*/
/* line 553, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-consul .round-bgr {
  background-color: #1B3C87;
  color: #F4F7FF;
  border-radius: 2rem;
}

/*Herramientas*/
/* line 565, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-tools .row {
  --bs-gutter-x: -6.5rem;
}

/* line 571, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-tools .box-btn:hover {
  background-color: #C4F1E9;
  transition: all 300ms ease-in-out;
}

/* line 579, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-tools img:hover {
  filter: brightness(130%) contrast(65%) hue-rotate(163deg) saturate(76%) sepia(100%);
}

/* line 587, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section3-tools .row {
  --bs-gutter-x: -6.5rem;
}

/* line 592, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section3-tools .box-btn:hover {
  background-color: #C4F1E9;
  transition: all 300ms ease-in-out;
}

/* line 600, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section3-tools img:hover {
  filter: brightness(130%) contrast(65%) hue-rotate(163deg) saturate(76%) sepia(100%);
}

/* line 608, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section5-tools .row {
  --bs-gutter-x: -6.5rem;
}

/* line 613, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section5-tools .img-profile {
  position: relative;
  z-index: 3;
  left: 0rem;
  top: 4rem;
}

@media all and (max-width: 576px) {
  /* line 613, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section5-tools .img-profile {
    height: 100px;
    left: 0rem;
    top: 3rem;
  }
}

/*Fonts*/
@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/black.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/thin.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/light.ttf");
  font-weight: 100;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-light {
  font-weight: 100;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-thin {
  font-weight: 200;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-regular, body, .h2, h2, h3 {
  font-weight: 300;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-medium, .modal-content .modal-body .form-label {
  font-weight: 500;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-bold, .h4 {
  font-weight: 600;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-black, .h1, h1 {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */