@charset "UTF-8";
/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-light {
  font-weight: 100;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-thin {
  font-weight: 200;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-regular, .h2 {
  font-weight: 300;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-medium {
  font-weight: 500;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-bold {
  font-weight: 600;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-black, .h1 {
  font-weight: 700;
}

/*Bootstrap*/
/* line 4, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
body {
  font-family: 'Moderat', sans-serif;
  font-weight: 300;
  color: #1B3C87;
  font-size: 1rem;
}

/* line 11, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.h1 {
  font-size: 3rem;
  /*font-weight: 700;*/
}

@media all and (max-width: 576px) {
  /* line 11, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .h1 {
    font-size: 2rem;
  }
}

/* line 22, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.h2 {
  font-size: 1.5rem;
  /*font-weight: 300;*/
}

@media all and (max-width: 576px) {
  /* line 22, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .h2 {
    font-size: 1.25rem;
  }
}

/* line 32, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media all and (max-width: 576px) {
  /* line 32, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .h3 {
    font-size: 1.25rem;
  }
}

/* line 42, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.rounded {
  border-radius: 1.25rem !important;
}

/* line 47, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.border {
  border: 2px solid #B2C3FB !important;
}

/* line 51, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.row {
  --bs-gutter-x: -6.5rem;
}

/* line 56, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.active, .navbar-light .navbar-nav .nav-link, .offcanvas-body .navbar-nav .nav-link {
  color: #1B3C87;
}

/* Nabvar */
/* line 64, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-toggler {
  color: #1B3C87;
  border-color: #D7E0FF;
}

/* line 68, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("../assets/burger-menu.svg");
}

/* line 74, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-nav {
  font-weight: 500;
  cursor: pointer;
  color: #8088DC;
}

/* line 79, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-nav .nav-link {
  color: #8088DC;
  /*&.active {
			color: $color1st;
			}*/
}

/* line 88, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.navbar-light .navbar-nav .nav-link:hover {
  color: #1B3C87;
}

/* Offcanvas*/
/* line 98, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.offcanvas-top {
  height: 100vh;
}

/* line 104, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.offcanvas-body .navbar-nav {
  font-weight: 600;
  cursor: pointer;
  color: #8088DC;
}

/* line 109, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.offcanvas-body .navbar-nav .nav-link {
  color: #8088DC;
  /*&.active {
			color: $color1st;
			}*/
}

/* line 118, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.offcanvas-body .navbar-nav .nav-link:hover {
  color: #1B3C87;
}

/*Main*/
/* line 129, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-1 {
  border-color: #1B3C87;
  background-color: white;
  color: #1B3C87;
  /*
	color: $color1st;
    background-color: white;
    border-color: $color1st;*/
}

/* line 137, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-1:hover {
  color: white;
  background-color: #1B3C87;
  border: solid 2px #F4F7FF;
  box-sizing: border-box;
}

/* line 146, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-2 {
  border-color: #1B3C87;
  background-color: #1B3C87;
  color: white;
  /*color: white;
    background-color: $color1st;
    border-color: $color1st;*/
}

/* line 152, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-2:hover {
  color: #1B3C87;
  background-color: #D7E0FF;
  border: solid 2px #1B3C87;
  box-sizing: border-box;
}

/* line 161, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.btn-close {
  background-image: url("../assets/close.svg");
  opacity: 1;
}

/* line 169, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.scale:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}

/*Index*/
/* line 180, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-index .round-bgr {
  background-color: #1B3C87;
  color: white;
  border-radius: 2rem;
}

/* line 188, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-index .round-bgr .section1-index-img .img-movil {
  position: relative;
  z-index: 3;
  left: 5rem;
  top: 5rem;
}

@media all and (max-width: 576px) {
  /* line 188, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section1-index .round-bgr .section1-index-img .img-movil {
    height: 350px;
    left: 2rem;
    top: 5rem;
  }
}

/* line 204, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-index {
  margin-top: 10rem;
}

/* line 212, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section4-index .nav-link {
  color: #1B3C87;
}

/* line 215, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section4-index .nav-link:hover {
  color: #8088DC;
}

@media all and (max-width: 422px) {
  /* line 221, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section4-index .section4-img {
    height: 32px;
  }
}

/* line 232, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
footer {
  background-color: #D7E0FF;
  height: 4rem;
}

/*Diagnostico*/
/* line 246, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-diag .round-bgr {
  background-color: #B2C3FB;
  color: #1B3C87;
  border-radius: 2rem;
}

/* line 253, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-diag .round-bgr .section1-diag-img .img-medicine {
  position: relative;
  z-index: 3;
  left: 5rem;
  top: 5rem;
}

@media all and (max-width: 576px) {
  /* line 253, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section1-diag .round-bgr .section1-diag-img .img-medicine {
    height: 250px;
    left: 2rem;
    top: 5rem;
  }
}

/* line 272, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-diag {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

/* Filosofia*/
/* line 282, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-filo .round-bgr {
  background-color: #F4F7FF;
  color: #1B3C87;
  border-radius: 2rem;
}

/* line 291, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-filo-img .img-talking {
  position: relative;
  z-index: 3;
  left: 0rem;
  top: 5rem;
}

@media all and (max-width: 576px) {
  /* line 291, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section1-filo-img .img-talking {
    height: 250px;
    left: 0rem;
    top: 5rem;
  }
}

/* line 307, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-filo-img .img-coffee {
  position: relative;
  z-index: 3;
  left: 0rem;
  top: 0rem;
}

@media all and (max-width: 576px) {
  /* line 307, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
  .section2-filo-img .img-coffee {
    height: 200px;
    left: -5rem;
    top: 0rem;
  }
}

/* line 321, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.box {
  background-color: #1B3C87;
  height: 10rem;
  width: 10rem;
}

/* line 326, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.box .box-btn {
  background-color: white;
  width: 100%;
  border: 1px solid #1B3C87;
}

/* line 335, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.changeColor:hover {
  color: white;
  background-color: #1B3C87;
  transition: all 300ms ease-in-out;
}

/*Consultoria*/
/* line 347, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section1-consul .round-bgr {
  background-color: #1B3C87;
  color: #F4F7FF;
  border-radius: 2rem;
}

/*Herramientas*/
/* line 361, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-tools .box-btn:hover {
  background-color: #C4F1E9;
  transition: all 300ms ease-in-out;
}

/* line 369, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section2-tools img:hover {
  filter: brightness(130%) contrast(65%) hue-rotate(163deg) saturate(76%) sepia(100%);
}

/* line 378, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section3-tools .box-btn:hover {
  background-color: #C4F1E9;
  transition: all 300ms ease-in-out;
}

/* line 386, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_main.scss */
.section3-tools img:hover {
  filter: brightness(130%) contrast(65%) hue-rotate(163deg) saturate(76%) sepia(100%);
}

/*Fonts*/
@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/black.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/thin.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Moderat";
  src: url("../css/fonts/moderat/light.ttf");
  font-weight: 100;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-light {
  font-weight: 100;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-thin {
  font-weight: 200;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-regular, .h2 {
  font-weight: 300;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-medium {
  font-weight: 500;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-bold {
  font-weight: 600;
}

/* line 8, ../../../Google Drive/Coder House/Desarrollo Web - Comisión 27300/Clase 10 - GITHUB/Desafío - Creando Repositorio en GitHub/scss/_tools.scss */
.font-weight-black, .h1 {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */