/*Fonts*/

@font-face {font-family: "Moderat";
  src: url('../css/fonts/moderat/black.ttf');
font-weight:700;
}

@font-face {font-family: "Moderat";
  src: url('../css/fonts/moderat/bold.ttf');
font-weight:600;
}

@font-face {font-family: "Moderat";
  src: url('../css/fonts/moderat/medium.ttf');
font-weight:500;
}

@font-face {font-family: "Moderat";
  src: url('../css/fonts/moderat/regular.ttf');
font-weight:300;
}

@font-face {font-family: "Moderat";
  src: url('../css/fonts/moderat/thin.ttf');
font-weight:200;
}

@font-face {font-family: "Moderat";
  src: url('../css/fonts/moderat/light.ttf');
	font-weight:100;
}
