/*Bootstrap*/

body {
	font-family: 'Moderat', sans-serif;
	font-weight: 300;
	color: $color1st;
	font-size: 1rem;
}

.h1 {
	font-size: 3rem;
	font-weight: 700;

	@media all and (max-width: 576px) {
		font-size: 2rem;
	}

}

.h2 {
	font-size: 1.5rem;
	font-weight: 300;

	@media all and (max-width: 576px) {
		font-size: 1.25rem;
	}
}

.h3 {
	font-size: 1.5rem;
	font-weight: 600;

	@media all and (max-width: 576px) {
		font-size: 1.25rem;
	}
}


.rounded {
    border-radius: 1.25rem!important;

}

.border {
    border: 2px solid $color3rd !important;
}

.row {
    --bs-gutter-x: -6.5rem;

}

/* Nabvar */

.navbar-light {

	.navbar-toggler {
		    color: $color1st;
    		border-color: $color4th;

    		.navbar-toggler-icon {
    			background-image: url('../assets/burger-menu.svg');

    		}
    }

    .navbar-nav {
	font-weight: 500;
	cursor: pointer;
	color:$color2nd;

		.nav-link {
		color: $color2nd;

			&.active {
			color: $color1st;
			}

			&:hover {
				color: $color1st;
			}
		}
	}
	
}

/* Offcanvas*/

.offcanvas-top {
	height: 100vh;
}

.offcanvas-body {

	.navbar-nav {
	font-weight: 600;
	cursor: pointer;
	color:$color2nd;

		.nav-link {
		color: $color2nd;

			&.active {
			color: $color1st;
			}

			&:hover {
				color: $color1st;
			}
		}
	}

}

/*Main*/

.btn-1 { 

	color: $color1st;
    background-color: white;
    border-color: $color1st;

    &:hover {
    	color: white;
    	background-color:$color1st;
    	border:solid 2px $color5th;
    	box-sizing: border-box;
    }

}

.btn-2 { 

	color: white;
    background-color: $color1st;
    border-color: $color1st;

    &:hover {
    	color: $color1st;
    	background-color:$color4th;
    	border:solid 2px $color1st;
    	box-sizing: border-box;
    }

}

.btn-close {
	background-image: url('../assets/close.svg');
	opacity: 1;

}



.scale:hover {
	transform: scale(1.1);
	transition: all 300ms ease-in-out;
}


/*Index*/

.section1-index {

	.round-bgr {
		background-color: $color1st;
		color: white;
		border-radius: 2rem;


		.section1-index-img {

			.img-movil {
				position: relative;
				z-index: 3;
				left:5rem;
				top: 5rem;

				@media all and (max-width: 576px) {
					height: 350px;
					left:2rem;
					top: 5rem;
				}
			}
		}
	}
}

.section2-index {
	margin-top: 10rem;
}

.section4-index {



		.nav-link {
		color: $color1st;

			&:hover {
			color: $color2nd;
			}

		}

		.section4-img {
			@media all and (max-width: 422px) {
					height: 32px;
			}

		}

}



footer {

	background-color: $color4th;
	height: 4rem;

	.coderhouse {
		@media all and (max-width: 422px) {
					height: 12px;
		}
	}

}




/*Diagnostico*/

.section1-diag {

	.round-bgr {
		background-color: $color3rd;
		color: $color1st;
		border-radius: 2rem;

		.section1-diag-img {

			.img-medicine {
				position: relative;
				z-index: 3;
				left:5rem;
				top: 5rem;

				@media all and (max-width: 576px) {
					height: 250px;
					left:2rem;
					top: 5rem;
				}
			}
			

		}

	}
}

.section2-diag {
	margin-top: 8rem;
	margin-bottom: 5rem;
}


/* Filosofia*/

.section2-filo {

	.round-bgr {
		background-color: $color5th;
		color: $color1st;
		border-radius: 2rem;		
	}
}

.box {
	background-color: $color1st;
	height: 10rem;
	width: 10rem;

	.box-btn {
		background-color:white;
		width: 100%;
		border: 1px solid $color1st;

	}
}

.changeColor {
	&:hover {
		color: white;
		background-color:$color1st;
		transition: all 300ms ease-in-out;

	}
}

/*Consultoria*/

.section1-consul {

	.round-bgr {
		background-color: $color1st;
		color: $color5th;
		border-radius: 2rem;

	}
}

/*Herramientas*/

.section2-tools {

	.box-btn {

		&:hover {

		background-color:#C4F1E9;
		transition: all 300ms ease-in-out;
		}
	}

	img {
		&:hover {
			filter: brightness(130%) contrast(65%) hue-rotate(163deg) saturate(76%) sepia(100%) 
		}
	}	
}

.section3-tools {

	.box-btn {
		&:hover {

		background-color:#C4F1E9;
		transition: all 300ms ease-in-out;
		}	
	}

	img {
		&:hover {
			filter: brightness(130%) contrast(65%) hue-rotate(163deg) saturate(76%) sepia(100%) 
		}
	}
}

