@mixin btn($color,$border-color, $bgr-color: white) {
	border-color: $border-color;
	background-color: $bgr-color;
	color:$color;
}

@each $k, $v in $fontMap{
	.font-weight-#{$k}{
		font-weight: $v;
	}
	
}